@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
        scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
        width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
        background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: linear-gradient(to top left, #F98828, #FB963B);
        border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(to top left, #F98828, #FB963B);
}

@layer utilities {
.text-customStroke {
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
}
.customClipPath {
        clip-path: polygon(100% 0, 100% 66%, 81% 66%, 50% 99%, 49% 66%, 0 66%, 0 0);
}
}